<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <p><a href="/logout">Log Out</a></p>

    <% if @helper.is_logged_in? %>
      <h2>Welcome, <%= @helper.current_user.username %>!</h2>
      <h2>Balance: <%= @helper.current_user.balance %></h2>
    <% end %>
    
  </body>
</html>